* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sec1 {
    background-color: lightblue;
    padding: 20px;
}

.se1_inner {
    display: flex;
    margin: 0 auto;
    max-width: 900px;
    gap: 20px;
}

.box1,
.box3 {
    height: 200px;
    /* flex-grow: 1.2;
    flex-basis: 0; */
    width: 40%;
}

.box1 {
    box-shadow: inset 0 0 10px red;
}

.box2 {
    box-shadow: inset 0 0 10px green;
    /* flex-grow: 1;
    flex-basis: 0; */
    height: 200px;
    width: 20%;
}

.box3 {
    box-shadow: inset 0 0 10px blue;
}

@media (max-width: 800px) {
    .se1_inner {
        flex-wrap: wrap;
    }

    .box2 {
        /* width: 100%; */
        order: -1;
        flex-grow: 2;
        flex-basis: 0;
    }

    .box1,
    .box3 {
        /* width: 30%; */
        flex-grow: 1;
        flex-basis: 0;
    }
}