/* Reset */
/*엔티티코드 */
* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none
}

a {
    text-decoration: none;
    color: inherit;
}

@charset "utf-8";

@font-face {
    font-family: 'NotoSerifKR';
    src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Source+Sans+Pro&display=swap");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #dae9f5;
    font-family: 'NotoSerifKR';
    color: #333;
}

header {
    border: 1px solid red;
}

header::before {
    display: block;
    content: 'asdf';
    border-bottom: 1px solid;
    position: absolute;
    width: 100%;
    top: 15px;

}

.top_menu,
nav {
    width: calc(100% - 48px);
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 150px;
}

.top_menu {
    height: 35px;
    font-size: 0.75em;
    text-decoration: none;
}

.top_menu article {
    width: 250px;
}

.top_menu article:hover .list {
    display: block;
}

.top_menu a {
    display: block;
}

.top_menu .list {
    display: none;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

.top_menu .list_title {
    border: 1px solid;
    height: 35px;
    line-height: 35px;
}

.list_title {
    position: relative;
}

.top_menu .list_title::after {
    content: '\f6ad';
    display: block;
    position: absolute;
    top: -2px;
    right: 0;
    font-weight: bold;
    font-size: 1.5em;
}

.gnb {
    display: flex;
}